:root {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Odin";
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
}

.main-container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 2fr;
    grid-auto-rows: 1fr;
}

.logo-side {
    grid-row: 1/ span 3;
    display: grid;
    justify-items: center;
    grid-template-rows: 2fr 1fr;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

@media (max-width: 700px) {
    .main-container {
        grid-template-columns: 1fr;
    }
    .logo-side {
        grid-row: 1;
    }
}

.logo-container > span {
    font-family: "Odin";
    color: white;
    font-size: 6rem;
}
.logo-container > img {
    width: 100px;
    height: 100px;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10em;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: max-content;
    padding: 15px 0;
}
.img-credit {
    margin: 10px;
    color: white;
    align-self: end;
}
.img-credit > a {
    color: white;
    font-weight: normal;
    text-decoration: underline;
}

.hero-text {
    padding: 20px;
    padding-right: 30%;
    background-color: rgb(248, 248, 248);
}
.hero-text > div {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px 0;
}

form {
    padding: 25px;
}
.input-container {
    gap: 30px;
}

input {
    height: 1.75rem;
    width: 250px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 2px 2px 6px 2px lightgray;
}

input:invalid, .error {
    border: 1px solid red;
}

.pass-warning::after {
    content: "* Passwords do not match";
    color: red;
    font-size: 0.75rem;
    position: absolute;
    top: 50px;
}

legend {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-container {
    padding: 25px;
    background-color: rgb(248, 248, 248);
}
.create-account {
    appearance: none;
    color: white;
    background-color: #596D48;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}
.create-account:hover {
    box-shadow: 0 0 2px 2px grey;
    text-shadow: 0 0 4px darkgray;
    cursor: pointer;
}

a { 
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0 20px;
}

li {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    position: relative;
}

li > label {
    font-size: 0.75rem;
}